{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="ja">
    <div class="container">
        <head>
            <title></title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            {% bootstrap_css %}
            {% bootstrap_javascript %}
            <link rel="stylesheet" href="{% static 'pages/css/style.css' %}">
            <link rel="icon" href="{% static 'pages/images/favicon.ico' %}">
        </head>
        <body>
            <header>
                <a href="{% url 'home' %}">HOME</a> |
                <a href="{% url 'about' %}">ABOUT</a> |
                <a href="{% url 'post_list' %}">POST</a> |
                <a href="{% url 'blog_home' %}">BLOG</a>
            </header>

            {% block content %}
            {% endblock content %}
    </div>
    </body>
</html>
